<!-- quiz.html -->
{% extends "navbar.html" %}

{% block title %}ClubHub - Quiz{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/quiz_styles.css') }}">
{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='js/quiz_styles.js') }}"></script>
<section class="quiz-section">
    <h2>Take the Quiz</h2>
    <form id="quiz-form" action="/submit_quiz" method="post">
        {% for i in range(1, 11) %}
        <div class="question" id="question{{ i }}">
            <p>Question {{ i }}: What is the  speedlimit?</p>
            <div class="options">
                <label class="option"><input type="radio" name="question{{ i }}" value="Paris"> 20</label><br>
                <label class="option"><input type="radio" name="question{{ i }}" value="Berlin"> 30</label><br>
                <label class="option"><input type="radio" name="question{{ i }}" value="London"> 40</label><br>
                <label class="option"><input type="radio" name="question{{ i }}" value="Rome"> 50</label><br>
            </div>
            <button class="next-button" type="button">Next</button> <!-- Next button inside each question -->
        </div>
        {% endfor %}
        <input id="submit-button" type="submit" value="Submit" style="display: none;">
    </form>
</section>
{% endblock %}
